<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#alles">All</a></li>
  <li><a data-toggle="tab" href="#available">Available</a></li>
  <li><a data-toggle="tab" href="#in-use">Attached</a></li>
</ul>

<div class="tab-content">
  <div id="alles" class="tab-pane fade in active">
    <h3>All</h3>
    <%= render partial: "partials/volumes_view", locals: {instances: @volumes} %>
  </div>
  <div id="available" class="tab-pane fade">
    <h3>Available</h3>
    <%= render partial: "partials/volumes_view", locals: {instances: @available} %>
  </div>
  <div id="in-use" class="tab-pane fade">
    <h3>Attached</h3>
    <%= render partial: "partials/volumes_view", locals: {instances: @attached} %>
  </div>

</div>
